h1, h2, h3, h4, h5, h6 {
font-family: 'Times New Roman', Times, serif;
font-weight: 400;
letter-spacing: -1px;
font-stretched: condensed;
text-transform: ;
}

.side-header {
  position: fixed;
  left: 20px;
  top: 15%;
  transform: rotate(-90deg) translateX(-50%);
  transform-origin: left top;
  font-family: "Times New Roman", Times, serif;
  font-size: 2em;
  font-weight: normal;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.side-header-right {
  position: fixed;
  right: 5px;
  top: 15%;
  transform: rotate(90deg) translateX(-50%);
  transform-origin: left top;
  font-family: "Times New Roman", Times, serif;
  font-size: 2em;
  font-weight: normal;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

body{
font-family: 'Times New Roman', Times, serif;
font-weight: 300;
letter-spacing: -0.5px;
font-stretched: condensed;
text-transform: ;
}

